/* src/components/modals/ModalAddTask.module.css */
.ModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 1.25rem;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
}

.ModalContent {
  background: var(--white);
  padding: 1.25rem;
  border-radius: 2rem 2rem 0 0;
  width: 90%;
  max-width: 25rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;

  & h2 {
    font-size: 1rem;
    margin-bottom: 1.15rem;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
    align-self: center;
    font-family: Roboto;
    color: var(--blue-gray);
  };

  & input {
    width: 19rem;
    padding: 1rem;
    margin-bottom: 1.25rem;
    border-radius: 2rem;
    border: 1px solid #D0DBEA;
    font-size: 1rem;
    outline: none;
  };

  input::placeholder {
    color: var(--gray-dark);
  }  
}

.ModalActions {
  display: flex;
  justify-content: space-between;
}

.CancelButton {
  background: #f0f0f0;
  color: var(--blue-gray);
  padding: 10px 20px;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  width: 8rem;
  height: 3rem;
}

.CreateButton {
  background: var(--green);
  color: var(--white);
  padding: 10px 20px;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  width: 8rem;
  height: 3rem;
}

.CancelButton:hover, .CreateButton:hover {
  opacity: 0.9;
}
